<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Issue tracker</title>
        <meta name="description" content="El issue tracker"/>
    
        
        <c:set var="page" value="ext"/>


    </head>
    <body>
        <div class="container center_div">
  <h1 class="text-center">Benvingut</h1>
  <a class= href="/auth/google_oauth2">Sign in with Google</a>
</div>
      
      
      
      <div class="footer">
  <p>Footer</p>
</div>

    </body>
</html>
