/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


th,td {
    
   font-style: normal;
   font-weight: 400; 
   font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media (max-width: 480px) {
 th {
   font-size:0.4em;
 } 
 
 td {
   font-size:0.4em;
 } 
 
 .content-desktop {
    display: none  !important;
 }
 
 .content-mobile {
   display: block !important;
 }
 
 .content-mobile .icons-group {
   font-size: 14px;
   position: relative;
   display: inline-flex;
   vertical-align: middle;
  }
}

@media (min-width:481px) and (max-width:767px) {
 th {
   font-size:0.5em;
 } 
 
 td {
   font-size:0.5em;
 } 
 
 .btn .btn-primary .btn-sm {
  font-size: 0.5em !important;
 }
 
 .content-desktop {
    display: none  !important;
 }
 .content-mobile {
   display: block !important;
 }
 
  .content-mobile .icons-group {
   font-size: 20px;
   position: relative;
   display: inline-flex;
   vertical-align: middle;
  }
}


@media (min-width: 576px) and (max-width: 767px) {
 
}

@media (min-width: 768px) and (max-width: 991px) {
 th,  td {
   font-size:0.625em;
 }  
 
 .btn-group-sm>.btn {
  font-size: 0.625rem  !important;
 }
}

@media (min-width: 992px) and (max-width: 1199px) {
 th,  td {
   font-size:0.725em;
 }  
 
 .btn-group-sm>.btn {
  font-size: 0.725rem  !important;
 }
 
}

@media (min-width: 1200px) {

 th, td {
   font-size:0.875rem;
 }

 .btn-group-sm>.btn {
  font-size: 0.875rem  !important;
 }
 
}


.btn a, .btn a:visited, .btn a:hover{
    color: #fff !important;
    background-color: transparent !important;
}


.imgRedonda {
    width:50px;
    height:50px;
    border-radius:200px;
    border:2px solid #999;
    text-align: right
    
    
}

.imgRedondaPerfil {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
    
    
}
