/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


th,td {
    
   font-style: normal;
   font-weight: 400; 
   font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media (max-width: 480px) {
 th, td, li {
   font-size:0.4em;
 } 
}

@media (min-width:481px) and (max-width:767px) {
 th, td, li {
   font-size:0.5em;
 } 
}


@media (min-width: 576px) and (max-width: 767px) {
 
}

@media (min-width: 768px) and (max-width: 991px) {
 th, td, li {
   font-size:0.625em;
 }
}

@media (min-width: 992px) and (max-width: 1199px) {
 th, td, li {
   font-size:0.725em;
 }
}

@media (min-width: 1200px) {
 th, td, li {
   font-size:0.875rem;
 }
}


.btn a, .btn a:visited, .btn a:hover{
    color: #fff !important;
    background-color: transparent !important;
}


.imgRedonda {
    width:50px;
    height:50px;
    border-radius:200px;
    border:2px solid #999;
    text-align: right
    
    
}

.imgRedondaPerfil {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
    
    
}


.icon {
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    text-align: left;
    overflow: hidden;
    text-indent: -9999px;
    width: 16px;
}

.icon-bug {
  background-image: url(asset_path('kinds/bug.svg'));
}

.icon-enhancement {
  background-image: url(asset_path('kinds/enhancement.svg'));
}

.icon-proposal {
  background-image: url(asset_path('kinds/proposal.svg'));
}

.icon-task {
  background-image: url(asset_path('kinds/task.svg'));
}



a {
  color: #000 !important;

  &:visited {
    color: #000 !important;
  }

  &:hover {
    color: #000 !important;
  }
}

.list-group-item.selectednav{
  background-color:#505F79 !important;
}

.list-group-item.selectednav a {
 color: #ffffff !important;
   &:hover {
    color: #ffffff !important;
  }
}

.list-group-item a:link {
 text-decoration:none;
}
