// Place all the styles related to the Microposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-form {
  width: 65%;
}

.field-group {
    box-sizing: border-box;
    clear: both;
    padding: 4px 0 4px 145px;
    position: relative;
    margin: 1px 0;
    width: 100%;
}

.field-group>label{
    float: left;
    margin-left: -145px;
    padding: 5px 0 0;
    position: relative;
    text-align: right;
    width: 130px;
    word-wrap: break-word;
}

 /* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the submit button */
input[type=submit] {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.actions {
  float: right;
}

.actions .cancel:visited {
    color: #0052CC !important;
    text-decoration: none;
    padding: 5px 10px;  
}

.actions .cancel:active {
    color: #0747A6 !important;
    text-decoration: underline;
}

.actions .cancel {
    color: #0052CC !important;
    background-color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.actions .cancel:hover {
    color: #0065FF;
    text-decoration: underline;
}

.actions .button-primary {
    padding: 7px 11px;  
    color: #FFF;
    background: #0052CC;
    transition: background .1s ease-out,box-shadow .15s cubic-bezier(.47,.03,.49,1.38);
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.actions .button-primary:active {
    background-color: #0747A6;
}

.actions .button-primary:hover {
    background-color: #0065FF;
}